<h1>View Book</h1>
  <table>
    <tr><td>Title</td><td><%= @book.title %></td></tr>
  <tr><td>Subtitle</td><td><%= @book.subtitle %></td></tr>
  <tr><td>Blurb</td><td><%= @book.blurb  %></td></tr>
  <tr><td>Excerpt</td><td><%= @book.excerpt %></td></tr>
  <tr><td>Link to Buy</td><td><%= link_to @book.buy_link, @book.buy_link %></td></tr>
  <tr><td></td><td><% if current_user == @book.user %>    
    <%= link_to "Edit", edit_book_path(@book) %>
    <% end %></td></tr>
  
  </table>

