<h1>View Book - <%= @book.id %></h1>
<div class="row-fluid">
  <div class="span4">
    <%= holder_tag "370x540" %>
  </div>
  <div class="span4">
    <h2><%= @book.title %></h2>
    <div id="show_book_subtitle"><%= @book.subtitle %></div>
    <div id="show_book_blurb"><%= @book.blurb  %></div>
    <div id="show_book_excerpt"><%= link_to "Read excerpt", excerpt_book_path(@book) %></div>
    <%= link_to "Buy book", @book.buy_link %>
    </td><td><% if current_user == @book.user %>    
      <%= link_to "Edit", edit_book_path(@book) %>
      <% end %></td></tr>
  </div>
  <div class="span4">
    <h3>More books by <%= link_to @book.user.username, user_show_path(@book.user) %></h3>
    <%= render "shared/book_item", :books => @book.user.books, :current_book => @book %>
  </div>

</div>
<div class="row-fluid">
  <div class="span6">
  <h3>Comments</h3>
    <div id="show_book_comments">
      <% if user_signed_in? %>
        <div id="add_new_comment">
          <h4>Add Comment<h4>
          <%= render "shared/add_comment", :parent => nil %>
        </div>
      <% end %>
      <%= render "shared/list_comments", :book => @book %>
    </div>
  </div>
  <div class="span6">
  <h3>Reviews</h3>
  <div id="show_book_reviews">
    <% if user_signed_in? %>
      <div id="add_new_review">
        <h4>Add Comment<h4>
        <%= render "shared/add_review", :review => @review, :book => @book %>
      </div>
    <% end %>
    <%= render "shared/list_reviews", :book => @book %>
  </div>

</div>
